@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::placeholder {
    color: #89888b !important;
  }
}

@layer components {
  .mf-grid {
    @apply mx-auto grid grid-cols-[repeat(12,minmax(0,80px))] justify-center gap-8;
  }

  /* Title variants */
  .title-14 {
    @apply font-drone font-bold text-sm;
  }
  .title-20 {
    @apply font-drone font-bold text-xl leading-8;
  }
  .title-18-bold {
    @apply font-drone font-bold text-lg;
  }

  /* Header variants */
  .header-16-semibold {
    @apply text-base font-semibold;
  }
  .header-16-medium {
    @apply text-base font-medium;
  }

  /* Body variants */
  .body-14-medium {
    @apply text-sm font-medium leading-5;
  }

  /* Caption variants */
  .caption-12-medium {
    @apply text-xs font-medium leading-5;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-[#DA458F] to-[#DA34DD];
  }

  .bg-gradient-secondary {
    @apply bg-gradient-to-r from-[#DA458F]/40 to-[#DA34DD]/40;
  }

  .text-gradient {
    @apply bg-gradient bg-clip-text text-transparent;
  }

  .bg-1 {
    @apply bg-gradient-to-r from-[#49DD81] to-[#22B4C6];
  }

  .bg-2 {
    @apply bg-gradient-to-r from-[#43A6F6] to-[#5868F3];
  }

  .bg-3 {
    @apply bg-gradient-to-r from-[#FE955A] to-[#F1DA63];
  }

  .bg-4 {
    @apply bg-gradient-to-r from-[#FE5A5A] to-[#F163D2];
  }

  .bg-5 {
    @apply bg-gradient-to-r from-[#DD5AFE] to-[#6366F1];
  }
}

body {
  @apply bg-[#171717];
}

/* custom scrollbar class remains but modified */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffc107 #777777;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 4px;
}

/* custom slider style */
.ant-slider .ant-slider-handle::after {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(218, 69, 143, 1) 0%,
    rgba(218, 52, 221, 1) 100%
  );
}

.ant-slider .ant-slider-track {
  @apply bg-gradient;
}

.ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
  @apply bg-gradient header-16-semibold px-4 py-3;
}

/* Custom select */

.ant-select-selector {
  background-color: transparent !important;
  border: 1px solid rgba(58, 56, 65, 1) !important;
  color: white !important;
}

.ant-select-selection-placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ant-select-selection-item {
  color: white !important;
}

.ant-select-arrow {
  color: white !important;
}

&.ant-select-focused .ant-select-selector {
  border-color: rgba(58, 56, 65, 1) !important;
  box-shadow: 0 0 0 2px rgba(58, 56, 65, 0.2) !important;
}
