@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mf-grid {
    @apply mx-auto grid grid-cols-[repeat(12,minmax(0,80px))] justify-center gap-8;
  }

  /* Title variants */
  .title-14 {
    @apply font-drone font-bold text-sm;
  }
  .title-20 {
    @apply font-drone font-bold text-xl leading-8;
  }
  .title-18-bold {
    @apply font-drone font-bold text-lg;
  }

  /* Header variants */
  .header-16-semibold {
    @apply text-base font-semibold;
  }
  .header-16-medium {
    @apply text-base font-medium;
  }

  /* Body variants */
  .body-14-medium {
    @apply text-sm font-medium leading-5;
  }

  /* Caption variants */
  .caption-12-medium {
    @apply text-xs font-medium leading-5;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-[#DA458F] to-[#DA34DD];
  }

  .bg-gradient-secondary {
    @apply bg-gradient-to-r from-[#DA458F]/40 to-[#DA34DD]/40;
  }

  .text-gradient {
    @apply bg-gradient bg-clip-text text-transparent;
  }
}

body {
  background: #171717;
}

/* custom scrollbar class remains but modified */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffc107 #777777;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 4px;
}
